header nav {
  background-color: var(--primary-color);
}
header nav a.sidenav-trigger {
  display: block;
}
header nav ul a {
  border-radius: 15px;
}
header nav ul a:hover {
  font-weight: 700;
  font-size: 15px;
}
header nav ul a:active {
  font-weight: 700;
  font-size: 15px;
}
header ul#slide-out li > h4 {
  color: var(--primary-color);
}
header nav div.nav-wrapper h6{
  font-size: 1.4rem;
}

a.brand-logo {
  font-weight: 900;
}
#slide-out li a.btn-small {
  background-color: var(--primary-color);
}

header div.nav-wrapper ul li:first-child{
    font-weight: 900;
}
